@section scripts{
    <script src="~/Scripts/ApplicationJS/LoginServie/login.js"></script>
    <script src="~/Scripts/ApplicationJS/LoginServie/UserName.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/UserInfo.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/UserPermission.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/SectionInfo.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/SectionInfo.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/StudentInfo.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/SubjectInfo.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/ClassWiseSubject.js"></script>
    <script src="~/Scripts/ApplicationJS/CMS/FeeSetUp.js"></script>
    @*<script src="~/Scripts/ApplicationJS/CMS/Signup.js"></script>*@

    @*<script src="~/Scripts/ApplicationJS/CMS/AcceptApplicationInfo.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/SuitInfo.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/OrderInfo.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/OrderOpposition.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/OrderWitness.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/SuitCompromise.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/SuitPresent.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/SuitOrder.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/SuitPaidRegister.js"></script>
        <script src="~/Scripts/ApplicationJS/CMS/SuitLetter.js"></script>*@


}
<div ui-view></div>
